.Navbar
{
    display:flex;
    flex-direction: row;
}
ul{
    list-style: none;
    padding: 1px;
    margin: 1px;
    background-color: red;
    overflow: hidden;

}
li a{
    list-style: none;
    text-decoration: none;
    color:black;
    display: block;
    text-align: center;
}
li{
    float:left;
    padding-right: 15px;
}
